In [2]:
import pandas as pd

In [4]:
stock_df = pd.read_csv('./tables/tick.csv', delimiter=',', header=0)
stock_df.head()

                     time symbol    price  day_volume
0  2023-11-08 23:59:58+00   AMZN  141.655         NaN
1  2023-11-08 23:59:58+00   TSLA  220.900         NaN
2  2023-11-08 23:59:58+00   NVDA  465.040         NaN
3  2023-11-08 23:59:55+00   MSFT  363.000         NaN
4  2023-11-08 23:59:54+00   INTC   37.840         NaN

In [7]:
stock_df['day_volume'].fillna(0, inplace=True)
stock_df.head()

                     time symbol    price  day_volume
0  2023-11-08 23:59:58+00   AMZN  141.655         0.0
1  2023-11-08 23:59:58+00   TSLA  220.900         0.0
2  2023-11-08 23:59:58+00   NVDA  465.040         0.0
3  2023-11-08 23:59:55+00   MSFT  363.000         0.0
4  2023-11-08 23:59:54+00   INTC   37.840         0.0

In [15]:
stock_df.to_csv('./tables/tick_noNulls.csv', sep=',', header=True, index=False)